.classOneCSS {
    color: brown;
  }
.classTwoCSS {
    background-color: yellow;
  }
.form-area,
.preview-area
{
    margin-top: 50px;
    text-align: center;
}
.add-background{
    background-color: yellow;
    padding:10px;
}